@media (max-width: 500px) {
    .footerVerticalFlex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footerVerticalFlex .footerBox,
    .footerVerticalFlex .footerBox ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bottomFooter{
        font-size: 12px;
        text-align: center;
    }
}