.body{
    height: 100vh;
}

/* home.css */

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name{

    background-image: -webkit-linear-gradient(125deg, #6302d9, #6ae1f0, #ba1717);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 15s infinite linear;
    }@-webkit-keyframes hue {
     from {
       -webkit-filter: hue-rotate(0deg);
     }
     to {
       -webkit-filter: hue-rotate(-360deg);
     }
    }

    
    
    .home-container {
      position: relative;
      width: 100%;
      height: 100vh; /* Tüm ekranı kaplayacak şekilde ayarlayın */
      display: flex;
      flex-direction: column;
      align-items: center; /* İçeriği yatayda merkeze hizalar */
      justify-content: center; /* İçeriği dikeyde merkeze hizalar */
    }
    