@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    smooth-behavior: smooth;
}

:root {
    /* --bg-color: #0D1225; */
    --bg-color: #0D1225;
    font-family: 'Montserrat';

}

a{
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    position: relative;
    overflow: auto;
    max-width: 100vw;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, rgba(169, 171, 182, 0) 70%, #0D1225 100%),
        url("../public/bg/ttk.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); /* Arka planı bulanıklaştırmak için */
    z-index: -1; /* Arka planın arka planda kalması için */
}


.fixed-header-background {
background-image: url('../../../public/surgery.jpeg'); /* Kullanmak istediğiniz resmin yolunu belirtin */
background-size:cover;
background-position: center;

color: white;
position: relative; /* Çocuk elemanları konumlandırmak için */
display: flex; /* İçerikleri ortalamak için flex kullanımı */
align-items: center; /* Dikey ortalama */
justify-content:baseline /* Yatay ortalama */
}



.content {
position: relative;
z-index: 2; /* Overlay'in üstünde kalmasını sağlar */
text-align: center; /* Metinlerin ortalanması */
}


.home-container {
    position: relative;
    width: 100%;
    color: white;
    height: 100vh; /* Tüm ekranı kaplayacak şekilde ayarlayın */
    display: flex;
    flex-direction: column;
    align-items: center; /* İçeriği yatayda merkeze hizalar */
    justify-content: center; /* İçeriği dikeyde merkeze hizalar */
  }
  
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    cursor: pointer;
  }

  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    max-width: 800px;
    height: auto !important;
}

@media screen and (max-width: 768px) {
    .pdfbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110%;
    }
    .pdfbuttons button,
    .pdfbuttons span,
    .pdfGoButtons button,
    .pdfGoButtons input {
      font-size: 12px;
      width: 100%;
    }
}

@media screen and (max-width: 481px) {
  .pdfbuttons button,
  .pdfbuttons span,
  .pdfGoButtons button,
  .pdfGoButtons input {
    font-size: 9px;
    padding: 6px;
  }
  .pdfGoButtons, .pdfbuttons span {
    min-width: 95px;
  }
  .langButton {
    width: 90px;
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .pdfbuttons button,
  .pdfbuttons span,
  .pdfGoButtons button,
  .pdfGoButtons input {
    font-size: 7px;
    padding: 3px;
    border-radius: 0.3rem;
  }
  .pdfGoButtons, .pdfbuttons span {
    min-width: 80px;
  }
  .langButton {
    width: 75px;
    font-size: 10px;
    padding: 6px;
  }
}